[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
pytest = "*"
mypy = "*"
pydocstyle = "*"
coverage = "*"

[packages]
django = "*"
requests = "*"
python-dotenv = "*"
progress = "*"
selenium = "*"
gunicorn = "*"
django-heroku = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
