<!doctype html>

<html lang="fr">
{% load static %}

<head>
    <meta charset="utf-8">

    <title>Pur Beurre</title>
    <meta name="description" content="Trouvez un produit de substitution pour ceux que vous consommez tous les jours.">
    <meta name="author" content="Daval Nicolas">

    <link rel="stylesheet" type="text/css" href="{% static 'css/boot_creative_theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body>
    {% include 'core/nav.html' %}
    <section class="page-section">
        <div class="container">
            {% for product in products %}
            <p class="product">{{product.name}}</p>
            {% endfor %}

        </div>
    </section>
</body>
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
<script src="{% static 'js/boot_script.js' %}"></script>
<script src="{% static 'js/autocomplete.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>