<!doctype html>

<html lang="fr">
{% load static %}
{% load crispy_forms_tags %}

<head>
    <meta charset="utf-8">

    <title>Pur Beurre</title>
    <meta name="description" content="Trouvez un produit de substitution pour ceux que vous consommez tous les jours.">
    <meta name="author" content="Daval Nicolas">

    <link rel="stylesheet" type="text/css" href="{% static 'css/boot_creative_theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body>
    {% include 'core/nav.html' %}
    <section class="page-section" id="login">
        <div class="container">
            <form method="post" id="login_form">
                <div>
                    {% csrf_token %}
                    {{ LoginForm | crispy }}
                    <input type="submit" id="submit">
                </div>
            </form>
        </div>
        {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        <div class="container">
            <a href="/signup">Create an account</a>
        </div>
    </section>
</body>