<!doctype html>

<html lang="fr">
{% load static %}

<head>
    <meta charset="utf-8">

    <title>Pur Beurre</title>
    <meta name="description" content="Trouvez un produit de substitution pour ceux que vous consommez tous les jours.">
    <meta name="author" content="Daval Nicolas">

    <link rel="stylesheet" type="text/css" href="{% static 'css/boot_creative_theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body>
    {% include 'core/nav.html' %}
    <section class="page-section" id="login">
        <div class="container">
            <form method="post" id="login_form">
                <div>
                    {% csrf_token %}
                    {{ LoginForm }}
                    <input type="submit" name="submit_logs" id="submit" value="Se connecter" class="login-form">
                </div>
            </form>
        </div>
        <hr class="divider">
        {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        <div class="container">
            <button onclick="location.href='/signup'" class="redirect-signin">Créer un compte</button>
        </div>
    </section>
</body>