<!doctype html>

<html lang="fr">
{% load static %}


<head>
    <meta charset="utf-8">

    <title>Pur Beurre</title>
    <meta name="description" content="Trouvez un produit de substitution pour ceux que vous consommez tous les jours.">
    <meta name="author" content="Daval Nicolas">

    <link rel="stylesheet" type="text/css" href="{% static 'css/boot_creative_theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body>
    .asteriskField {
    display: none;
    }
    {% include 'core/nav.html' %}
    <section class="page-section" id="signup">
        <div class="container">
            <form action="/signup" method="post" id="signup_form">
                <div>
                    {% csrf_token %}
                    {{ SignupForm }}
                    <input type="submit" name="submit_new_user" id="submit">
                </div>
            </form>
        </div>
    </section>
</body>