<html lang="fr">
{% load static %}

<head>
    <meta charset="utf-8">

    <title>Pur Beurre</title>
    <meta name="description" content="Trouvez un produit de substitution pour ceux que vous consommez tous les jours.">
    <meta name="author" content="Daval Nicolas">

    <link rel="stylesheet" type="text/css" href="{% static 'css/boot_creative_theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>


<body>
    {% include 'core/nav.html' %}
    <section class="page-section" id="user_account">
        <div class="container">
            {% if user.is_authenticated %}
            <p> Bienvenue {{user.username}}</p>
            {% else %}
            <p>Vous êtes déconnecté. Cliquez <a href="login">ici</a> pour vous connecter.</p>
            {% endif %}
        </div>
    </section>
</body>