<!doctype html>

<html lang="fr">

<body>
    <h1>Mentions Légales</h1>

    <p>Site personel, non déclaré à la CNIL, créé dans un but d'apprentissage.</p>

    <h2>Hébergement :</h2>
    <p>
        Hébergé par SCALEWAY <br>
        Société par Actions Simplifiée au capital de 214 410,50 Euros <br>
        SIREN : 433 115 904 RCS Paris <br>
        Siège social : 8 rue de la Ville l’Evêque, 75008 Paris <br>
        Téléphone : +33 (0)1 84 13 00 00 <br>
        Email : contact@scaleway.com
    </p>

</body>