#logo_img{
    width: 2em;
}

#presentation_img{
    width:100%;
}

#myInputautocomplete-list{
    max-height: 25vh;
    overflow-y: scroll;
    background: rgba(200,200,200,0.2);


}

#mainNav{
    background: rgb(196, 85, 37);
}

